<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Loop</title>
	@{
		Html.RenderPartial("PartialViews/HeaderLinks");
	}
	<script type="text/javascript">
		$(document).ready(function () {
			var selected = '@ViewContext.RouteData.Values["Controller"]';
			$("#" + selected).addClass("current_page_item");
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="page">
			<div id="page-bgtop">
				<div id="page-bgbtm">
					<div id="page-content">
						<div id="header-wrapper">
							<div id="header">
								<div id="logo">
									<h1>@Html.ActionLink("Loop", "Logout", new { area = "", controller = "Login" })</h1>
									<p>
										Optimized resource allocation system for Agile development.</p>
								</div>
							</div>
						</div>
						<!-- end #header -->
						<div id="banner">
							<img src="@Url.Content("~/Content/images/banner.jpg")" width="940" height="300" alt="" /></div>
						<div id="menu-wrapper">
							<div id="menu">
								<ul>
									<li id="Login">
										<!-- Main menu will be here -->
										@{
											if (Request.IsAuthenticated)
											{
	@Html.ActionLink("Logout", "Logout", new { area = "", controller = "Login" });
											}
											else
											{
	@Html.ActionLink("Login", "Index", new { area = "", controller = "Login" });
											}
										}
									</li>
									@RenderSection("menu", false)
									<li id="Manual">@Html.ActionLink("Manual", "Index", "Manual")</li>
									<li id="Feedback">@Html.ActionLink("Feedback", "Index", "Feedback")</li>
								</ul>
							</div>
						</div>
						<!-- end #menu -->
						<div id="content">
							<div class="post">
								<!-- Page title will be here -->
								<h2 class="title">
									@ViewBag.Title</h2>
								<!-- Main content will be here -->
								<div class="entry">
									@RenderBody()
								</div>
							</div>
							<div style="clear: both;">
								&nbsp;</div>
						</div>
						<!-- end #content -->
						<div id="sidebar">
							@RenderSection("submenu", false)
						</div>
						<!-- end #sidebar -->
					</div>
					<div style="clear: both;">
						&nbsp;</div>
				</div>
			</div>
		</div>
		<!-- end #page -->
	</div>
	<div id="footer">
		<p>
			© 2013 Alexandra Panaryna. All rights reserved. Design by <a href="http://www.freecsstemplates.org">
				FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
