@model IEnumerable<Loop.Interfaces.ITask>
@{
	ViewBag.Title = "Tasks";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h2>
	Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			Number
		</th>
		<th>
			Title
		</th>
		<th>
			Description
		</th>
		<th>
			Steps
		</th>
		<th>
			Background
		</th>
		<th>
			IsActive
		</th>
		<th>
			Estimation
		</th>
		<th>
		</th>
	</tr>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Number)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Title)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Steps)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Background)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IsActive)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Estimation)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
 }
</table>
